html{
    font-family: 'Poppins', sans-serif;
}

body{
	padding: 10px;
	background-color: #f3e9dc;
	font-size: 20px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
}

nav {
    overflow: hidden;
    background-color: #333;
  }
  
nav a{
    margin: 30px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

nav a:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
li {
    display: inline;
}

p {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 200%;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    background-color: #5e548e;
    color: antiquewhite;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #837171;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    padding: 10px;
}

img:nth-child(n):hover {
    border-radius:20%;
    transition: 1s ease;
}

h2 {
    text-align: left;
    font-size: 25px;
    margin: 20px;
    font-weight: bold;
}

dt{
    text-align: left;
    font-size: 25px;
    margin: 20px;
    font-weight: bold;
}

@keyframes example {
    from {padding-top: 0px;}
  to {padding-top: 10px;}
}

.background_image {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("../images/background_pic.gif");
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

#Animate_image{
    animation-name: example;
    animation-duration: 4s;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

#Animate_image:hover {
    border-radius:0;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    gap:50px;
    align-items: flex-start;
}

footer{
    background-color: #d1ccdc;
    padding: 20px;
    margin: 10px;
}